In [1]:
import numpy as np
import pandas as pd
import data_prefix

In [2]:
train_data_ori, train_label_ori = data_prefix.get_data("titanic/train.csv")

In [3]:
train_data_ori.head()

,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,0.826913,0.737281,-0.594398,0.432550,-0.473408,-1.555405,-0.502163,-0.568445
1,-1.565228,-1.354813,0.634962,0.432550,-0.473408,-1.550336,0.786404,0.975715
2,0.826913,-1.354813,-0.287058,-0.474279,-0.473408,-1.545267,-0.488580,-0.568445
3,-1.565228,-1.354813,0.404457,0.432550,-0.473408,-1.540199,0.420494,-0.568445
4,0.826913,0.737281,0.404457,-0.474279,-0.473408,-1.535130,-0.486064,-0.568445

In [4]:
train_label_ori[:5]

array([0, 1, 1, 1, 0])

In [5]:
def bootstrapping(data, label, ratio=0.3):
    train_data = pd.DataFrame()
    train_label = []
    test_data = pd.DataFrame()
    test_label = []
    data_length = len(data)
    threshold = np.log(ratio) / (data_length * np.log(1 - 1 / data_length))
    iter_times = int(data_length * threshold)
    boot_set = set([np.random.randint(0, data_length) for i in range(iter_times)])
    boot_set_diff = set(range(data_length)).difference(boot_set)
    l_bs = list(boot_set)
    l_bs_d = list(boot_set_diff)
    train_data = data.iloc[l_bs]
    test_data = data.iloc[l_bs_d]
    train_label = label[l_bs]
    test_label = label[l_bs_d]
    return train_data, train_label, test_data, test_label

In [13]:
train_data, train_label, test_data, test_label = bootstrapping(train_data_ori, train_label_ori, ratio=0.32)

In [14]:
for i in [train_data, train_label, test_data, test_label]:
    print(len(i) / len(train_data_ori))

0.6801346801346801
0.6801346801346801
0.31986531986531985
0.31986531986531985